<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginTest ">

<listeners>
<listener class-name="com.smu.qa.extentreport.listener.ExtentReporterNG"/>
</listeners>

  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="com.smu.qa.testcases.LoginTest"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- LoginTest  -->
